<footer class="hyde footer-wrapper">
  <div class="hyde container">
    <div class="hyde footer">
      <div class="hyde footer-left">
        <ul class="hyde footer-menu links">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/projects">Project</a>
          </li>
        </ul>
        <p class="text">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
      </div>
      <div class="hyde footer-right">
        <ul class="hyde footer-menu social">
          <li>
            <a href="https://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
          </li>
          <!-- <li>
            <a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
