@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-app-text: #212529;
  --color-app-dark-text: #d1d7e0;
  --color-app-sub-text: #59636e;
  --color-app-dark-sub-text: #9198a1;
  --color-app-bg: #ffffff;
  --color-app-dark-bg: #121923;
  --color-app-sub-bg: rgba(129, 139, 152, 0.1);
  --color-app-dark-sub-bg: rgba(101, 108, 118, 0.2);
  --color-app-primary: #4263eb;
  --color-app-dark-primary: #4dabf7;

  --animate-fade-in: fadeIn 0.2s ease-in-out forwards;

  --animate-theme-icon-fade-in: themeIconFadeIn 0.15s ease-in-out forwards;
  @keyframes themeIconFadeIn {
    from {
      opacity: 0;
      transform: translate(45%, 40%) rotate(45deg);
    }
    to {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  --animate-theme-icon-fade-out: themeIconFadeOut 0.15s ease-in-out;
  @keyframes themeIconFadeOut {
    from {
      opacity: 1;
      transform: rotate(0deg);
    }
    to {
      opacity: 0;
      transform: translate(-45%, 40%) rotate(-45deg);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
html,
html body {
  @apply text-app-text dark:text-app-dark-text bg-app-bg dark:bg-app-dark-bg;
  font-family: Arial, Helvetica, sans-serif;
}

:is(html, body, html body):where(.dark, .dark *) {
  background-color: var(--color-app-dark-bg);
  color: var(--color-app-dark-text);
}
